<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
  <h1>USERS</h1>
 <p>
     <% for(var i = 0; i < user.length; i++){ %>
        <p>ID: <%= user[i].id%> Username: <%= user[i].username %> library-ID: <%= user[i].library_id %></p>
    <% } %>
 </p>
</body>
</html>